<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <script src="./js/myFunctions.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <div id="app">
        <div class="container">
            <div class="error d-flex justify-content-center align-items-center">
                <transition name="errorAnimation">
                    <div v-if="isValid" class="toast fs-6 alert alert-danger">Il task deve essere almeno lungo 5 caratteri!</div>
                </transition>
            </div>
            <header class="d-flex justify-content-center">
                <input type="text" v-model="newTask.text" @keyup.enter="addTask" class="mx-2 p-2">
                <button @click="addTask" class="btn btn-info mx-2">AGGIUNGI</button>
            </header>
            <div id="tasks">
                <transition-group name='taskAnimation' tag='ul' appear class="d-flex flex-column align-items-center">
                    <li v-for="(item,index) in toDoList" :key="item.id" class="my-3 border border-dark d-flex">
                        <div :id="'task-'+index" class="h-100 w-75 d-flex justify-content-center align-items-center">
                            <span>{{item.text}}</span>
                        </div>
                        <div @click.stop="removeTask(item.id)" class="h-100 w-25 d-flex justify-content-center align-items-center"><span>X</span></div>
                    </li>
                </transition-group>
                <transition name="nothingLeft">
                    <div v-if="!toDoList.length" class="text-center">
                        <h4 class="my-4">Task completate</h4>
                        <div class="addIcon">
                    
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>

    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>